# PANDAS

In [6]:
import pandas as pd

#### series

In [7]:
array = [1,2,3,4,5,6,7,8]
series = pd.Series(array)
print(series)
custom_series = pd.Series(array,index = ["a","b","c",3,4,5,5,7])
print(custom_series)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
a    1
b    2
c    3
3    4
4    5
5    6
5    7
7    8
dtype: int64

#### data frames

In [ ]:
data = {
        "name": ["Advaith","Adil","ram","sham", "bob"],
        "department": ["CS","IT","CS","IT", "CS"],
        "marks":[85,90,78, 88, 76],
        "passed" : [True, True, True, True, False]
       }
dataf = pd.DataFrame(data)
print(df)

#### filtering data

In [8]:
high_score = df[dataf["marks"]>80] # filter rows where marks > 80
print(high_score)

NameError: name 'df' is not defined

In [ ]:
cs = df[dataf["department"] == "CS"] # filter only cs department students
print(cs)

In [ ]:
passed = df[(dataf["passed"] == True) & (dataf["marks"] > 80)] # filter students who passed and scored more than 80
print(passed)

#### grouping

In [ ]:
avg_marks = dataf.groupby("department")["marks"].mean()
print(avg_marks)

In [ ]:
no_of_std = dataf.groupby("department")["name"].count()
print(no_of_std)

In [ ]:
std_passed = dataf.groupby("department")["passed"].sum()
print(std_passed)

#### add new column based on condition

In [ ]:
dataf["grades"] = ["A"if mark>=85 else "B" for mark in dataf["marks"]]
print(dataf)

In [ ]:
dataf.to_csv("student_details.csv",index = False)

In [ ]:
loaded_df = pd.read_csv("excel.csv")
print(loaded_df)

In [ ]:
print(loaded_df.head())

In [ ]:
print(loaded_df.tail())

In [10]:
data = {
        "name": ["Advaith","Adil","ram","sham", "bob"],
        "department": ["CS","IT","CS","IT", "CS"],
        "marks":[85,90,78, 88, 76],
        "passed" : [True, True, True, True, False]
       }
dataf = pd.DataFrame(data)
print(dataf)

      name department  marks  passed
0  Advaith         CS     85    True
1     Adil         IT     90    True
2      ram         CS     78    True
3     sham         IT     88    True
4      bob         CS     76   False

In [30]:
dataf["grades"] = ["A"if mark>=85 else "B" for mark in dataf["marks"]]
print(dataf)

      name department  marks  passed grades
0  Advaith         CS     85    True      A
1     Adil         IT     90    True      A
2      ram         CS     78    True      B
3     sham         IT     88    True      A
4      bob         CS     76   False      B

In [32]:
dataf.drop("grades", axis=1, inplace=True)
print(dataf)

      name department  marks  passed
0  Advaith         CS     85    True
1     Adil         IT     90    True
2      ram         CS     78    True
3     sham         IT     88    True
4      bob         CS     76   False

In [33]:
dataf.sort_values(by="marks", inplace=True)
print(dataf)

      name department  marks  passed
4      bob         CS     76   False
2      ram         CS     78    True
0  Advaith         CS     85    True
3     sham         IT     88    True
1     Adil         IT     90    True