In [1]:
for n in range(1,101):
    if n%3 == 0:
        print(n)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [2]:
def is_divisible_by_three(x,y): 
    for n in range(x,y):
        if n%3 == 0:
            print(n)
is_divisible_by_three(1,11)

3
6
9

In [3]:
def prime_number(x):
    if (x == 1) or (x == 0):
        print("this is not prime no")
    elif x > 1 : 
        for i in range(2,x):
            if x%i == 0:
                print(x,"is not a prime no")
                
            else: 
                print(x,"is a prime no")
            break
    else:
        print("this is not a prime no")

In [4]:
prime_number(-5)

this is not a prime no

In [5]:
for x in range(1,11):
    print(x*x)

1
4
9
16
25
36
49
64
81
100

In [6]:
arr = [1,2,3,4,5,6,7,8,9,10]
for x in range(len(arr)):
    print(arr[x]*arr[x])

1
4
9
16
25
36
49
64
81
100

In [7]:
for n in arr:
    print(arr[n-1]*arr[n-1])

1
4
9
16
25
36
49
64
81
100

In [8]:
for index, number in enumerate(arr):
    print(f"the square of {number} is {arr[index]*arr[index]}")

the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16
the square of 5 is 25
the square of 6 is 36
the square of 7 is 49
the square of 8 is 64
the square of 9 is 81
the square of 10 is 100

In [9]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [10]:
count = 1
while count <= 5:
    print(count)
    count+=1

1
2
3
4
5

In [11]:
for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4

In [12]:
for i in range(1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

#### logical operators

| operator | meaning |
|----------|---------|
| and | both conditions are true |
| or | atleast one condition should be true |
| not | reverse the condition means if the condition is true it will make false and viseversa |

In [13]:
age = 20 
has_id = True

In [14]:
if age >= 18 and has_id:
    print("entry allowed")
else:
    print("entry denied")

entry allowed

In [15]:
marks = 40
gpa = 4
if marks >= 60 or gpa >= 4:
    print("passed")
else:
    print("fail")

passed

In [16]:
is_raining = True 
if not is_raining:
    print("go outside")
else:
    print("stay inside")

stay inside

In [17]:
a = 2
b = 3

#### arithmetic operations

In [18]:
print(a+b)
print(b-a)
print(b/a)
print(b//a)
print(b%a)
print(a*b)
print(a**b)

5
1
1.5
1
1
6
8

In [19]:
x = 5
y = 10
print(x==y) # equals to
print(x != y) # not equal to
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

#### assignment operators

In [20]:
z = 11
print(z)
z/=3
print(z)
z=11
z//=3
print(z)

11
3.6666666666666665
3

In [21]:
for i in range(1, 11):
    if i % 2 != 0:
        continue
    print(i)

2
4
6
8
10

In [40]:
def print_primes(a, b):
    for num in range(a, b):
     if num == 1:
         continue
     else:
        for i in range(2, int(num * 0.5)+1 ):
            if num % i == 0:
                break
        else:
            print(num)

In [42]:
print_primes(1, 50)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47