# PANDAS

In [1]:
import pandas as pd

#### series

In [5]:
array = [1,2,3,4,5,6,7,8]
series = pd.Series(array)
print(series)
custom_series = pd.Series(array,index = ["a","b","c",3,4,5,5,7])
print(custom_series)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64
a    1
b    2
c    3
3    4
4    5
5    6
5    7
7    8
dtype: int64

#### data frames

In [9]:
data = {
        "name": ["Advaith","Adil","ram","sham", "bob"],
        "department": ["CS","IT","CS","IT", "CS"],
        "marks":[85,90,78, 88, 76],
        "passed" : [True, True, True, True, False]
       }
dataf = pd.DataFrame(data)
print(df)

      name department  marks  passed
0  Advaith         CS     85    True
1     Adil         IT     90    True
2      ram         CS     78    True
3     sham         IT     88    True
4      bob         CS     76   False

#### filtering data

In [12]:
high_score = df[dataf["marks"]>80] # filter rows where marks > 80
print(high_score)

      name department  marks  passed
0  Advaith         CS     85    True
1     Adil         IT     90    True
3     sham         IT     88    True

In [14]:
cs = df[dataf["department"] == "CS"] # filter only cs department students
print(cs)

      name department  marks  passed
0  Advaith         CS     85    True
2      ram         CS     78    True
4      bob         CS     76   False

In [19]:
passed = df[(dataf["passed"] == True) & (dataf["marks"] > 80)] # filter students who passed and scored more than 80
print(passed)

      name department  marks  passed
0  Advaith         CS     85    True
1     Adil         IT     90    True
3     sham         IT     88    True

#### grouping

In [22]:
avg_marks = dataf.groupby("department")["marks"].mean()
print(avg_marks)

department
CS    79.666667
IT    89.000000
Name: marks, dtype: float64

In [23]:
no_of_std = dataf.groupby("department")["name"].count()
print(no_of_std)

department
CS    3
IT    2
Name: name, dtype: int64

In [24]:
std_passed = dataf.groupby("department")["passed"].sum()
print(std_passed)

department
CS    2
IT    2
Name: passed, dtype: int64

#### add new column based on condition

In [25]:
dataf["grades"] = ["A"if mark>=85 else "B" for mark in dataf["marks"]]
print(dataf)

      name department  marks  passed grades
0  Advaith         CS     85    True      A
1     Adil         IT     90    True      A
2      ram         CS     78    True      B
3     sham         IT     88    True      A
4      bob         CS     76   False      B

In [26]:
dataf.to_csv("student_details.csv",index = False)

In [32]:
loaded_df = pd.read_csv("excel.csv")
print(loaded_df)

   Bharati Vidyapeeth (Deemed to be University), Pune    Unnamed: 1  \
0     Centre for Distance and Online Education (CDOE)           NaN
1    MCA SEM-IV Seminar Presentation/Viva Universi...           NaN
2                                         SUMMER-2025           NaN
3                                           Panel - I           NaN
4   External Examiner & Mobile - Prof.Ashwini Sara...           NaN
5                                                 NaN           NaN
6                                             Sr. No.        PRN No
7                                                   1    2345102465
8                                                   2    2345102467
9                                                   3    2345102468
10                                                  4    2345102472
11                                                  5    2345102476
12                                                  6    2345102478
13                                                  7    2345102480
14                                                  8    2345102482
15                                                  9    2345102947
16                                                 10    2345102948
17                                                 11    2345103336
18                                                 12    2345103342
19                                                 13    2345103347
20                                                 14    2345103350
21                                                 15    2345103355
22                                                 16    2345103358
23                                                 17    2345103360
24                                                 18    2345103364
25                                                 19    2345103367
26                                                 20    2345103370
27                                                 21    2345103371
28                                                 22    2345103372
29                                                 23    2345103425
30                                                 24    2345103427
31                                                 25    2345103428
32                                               26.0  2345103429.0
33                                               27.0  2345103430.0
34                                               28.0  2345103431.0
35                                               29.0  2345103432.0
36                                               30.0  2345103434.0
37                                               31.0  2345103435.0
38                                               32.0  2345103438.0
39                                               33.0  2345103439.0
40                                               34.0  2345103442.0
41                                               35.0  2345103448.0
42                                               36.0  2345103453.0
43                                               37.0  2345103454.0
44                                               38.0  2345103457.0
45                                               39.0  2345103465.0
46                                               40.0  2345103468.0
47                                               41.0  2345103475.0
48                                               42.0  2345103479.0
49                                               43.0  2345103481.0
50                                               44.0  2345103511.0
51                                               45.0  2345103515.0
52                                                NaN           NaN
53                                                NaN           NaN
54                                                NaN           NaN
55                                                NaN           NaN
56                                                NaN           NaN
57                                                NaN           NaN
58                                                NaN           NaN
59                                                NaN           NaN

                              Unnamed: 2  \
0                                    NaN
1                                    NaN
2                                    NaN
3                                    NaN
4                                    NaN
5                                    NaN
6                    Name of the Student
7                  KALYANI ISHWAR DUSANE
8                      SWATI VISHWAKARMA
9                           RIDDHI KORDE
10        SHAIKH EHTESHAMUDDIN NAIMUDDIN
11           TRIPATHI NIKHIL BABLU LAXMI
12          WADEKAR DHANANJAY SHASHIKANT
13          PAWAR JEET DIGAMBAR (SUNITA)
14                BANDGAR OMKAR YASHWANT
15                     MORE APURVA SUHAS
16               JADHAV SHUBHANKAR VIJAY
17                  MORE ABHIJIT SHANKAR
18               JAPKAR SHUBHAM RAJABAPU
19                    VISHAL PRATAP MANE
20           SHINDE SUYOGRAJE DHANAJIRAO
21                  CHAVAN SAKSHI SANJAY
22                  SAKSHI PRITAM KAMBLE
23             GAIKWAD PRASHANT HANUMANT
24        BENDKHALE DIVESH RAJENDRAKUMAR
25                          INDRAJIT PAL
26                        MAYUR RAKHUNDE
27        MAHAJAN SWATEE RAMESH (KAVITA)
28                      ATAR SUHANA RAJU
29               KU NEHA SADANAND KHADSE
30                     JAGTAP SWATI ARUN
31          YADAV BHUPESH MARUTI PRAMILA
32                KURKUTE ISHWARI BHARAT
33              KHADSE DNYANESHWAR SUNIL
34     BHAVSAR KRUTIKA RAMCHANDRA (SIMA)
35            GHORPADE POOJA CHANDRAKANT
36                     DHOLE ANUJA MADAN
37                   SHIVANGI CHATURVEDI
38        ACHAREKAR PRASAD VISHNU VIJAYA
39          UTEKAR SAYALI SUNIL SANGEETA
40  CHINCHOLKAR TEJAS SHAILENDRA VANDANA
41            NIVANGUNE PRATIKSHA DAGADU
42                      ADHAV POOJA ANIL
43               BARTAKKE CHINMAY PRAVIN
44                BHANDE PRAGATI BHANDAS
45             WALAKI VAISHNAVI BASVANTA
46         PARANJAKAR NIKITA SUNIL ANITA
47              BHOSALE AAKANKSHA LAXMAN
48   PATIL PRATIKSHA BHAIDAS (CHITRABAI)
49   YESHIRAO SUMIT SANJAY ( PRABHAVATI)
50         GAWADE DIPTI VIJAY VIJAYSHREE
51                 SAWANT RUCHIRA SANJAY
52                                   NaN
53                                   NaN
54                               Present
55                                Absent
56                                  Tota
57                                   NaN
58                                   NaN
59                                   NaN

                                Unnamed: 3                 Unnamed: 4  \
0                                      NaN                        NaN
1                                      NaN                        NaN
2                                      NaN                        NaN
3                                      NaN                        NaN
4                                      NaN                        NaN
5                                      NaN                        NaN
6   Topic Relevance & Depth of Study\n[20]  Research & Analysis\n[20]
7                                       12                         12
8                                       18                         18
9                                       18                         15
10                                      15                         14
11                                      18                         18
12                                      10                         10
13                                      13                         12
14                                      18                         16
15                                      17                         18
16                                      13                         16
17                                     NaN                        NaN
18                                      14                         15
19                                      10                         10
20                                      14                         15
21                                      11                         10
22                                      19                         18
23                                      11                         11
24                                      17                         16
25                                      13                         12
26                                      10                         10
27                                      10                         10
28                                      10                         10
29                                      18                         18
30                                      18                         17
31                                      18                         17
32                                    13.0                       12.0
33                                     NaN                        NaN
34                                    14.0                       12.0
35                                    16.0                       17.0
36                                    14.0                       15.0
37                                    19.0                       17.0
38                                    17.0                       18.0
39                                    17.0                       17.0
40                                    14.0                       12.0
41                                    19.0                       17.0
42                                    16.0                       18.0
43                                    17.0                       16.0
44                                    15.0                       14.0
45                                    13.0                       13.0
46                                    10.0                       10.0
47                                    17.0                       17.0
48                                    18.0                       18.0
49                                    18.0                       17.0
50                                    15.0                       14.0
51                                    14.0                       14.0
52                                     NaN                        NaN
53                                     NaN                        NaN
54                                    43.0                        NaN
55                                     2.0                        NaN
56                                    45.0                        NaN
57                                     NaN                        NaN
58                                     NaN                        NaN
59                                     NaN                        NaN

                   Unnamed: 5            Unnamed: 6  \
0                         NaN                   NaN
1                         NaN                   NaN
2                         NaN                   NaN
3                 Date & Time                   NaN
4                         NaN                   NaN
5                         NaN                   NaN
6   Presentation Skills\n[20]  Report Quality\n[20]
7                          10                    12
8                          18                    18
9                          18                    18
10                         13                    14
11                         18                    18
12                         10                    10
13                         13                    14
14                         18                    18
15                         17                    18
16                         18                    18
17                        NaN                   NaN
18                         14                    15
19                         10                    10
20                         14                    16
21                         10                    11
22                         18                    18
23                         10                    11
24                         17                    17
25                         12                    10
26                         11                    11
27                         10                    11
28                         10                    11
29                         18                    18
30                         17                    18
31                         16                    16
32                       13.0                    12
33                        NaN                   NaN
34                       12.0                    12
35                       16.0                    17
36                       12.0                    12
37                       17.0                    18
38                       17.0                    17
39                       18.0                    18
40                       13.0                    10
41                       17.0                    18
42                       16.0                    17
43                       18.0                    18
44                       12.0                    15
45                       12.0                    11
46                       10.0                     9
47                       16.0                    16
48                       17.0                    17
49                       18.0                    17
50                       15.0                    15
51                       15.0                    15
52                        NaN                   NaN
53                        NaN                   NaN
54                        NaN                   NaN
55                        NaN                   NaN
56                        NaN                   NaN
57                        NaN     Sign (jpeg image)
58                        NaN                  Name
59                        NaN     External Examiner

                            Unnamed: 7         Unnamed: 8  Unnamed: 9  ...  \
0                                  NaN                NaN         NaN  ...
1                                  NaN                NaN         NaN  ...
2                                  NaN                NaN         NaN  ...
3                          18/05/20025            8:30 AM         NaN  ...
4                                  NaN                NaN         NaN  ...
5                                  NaN                NaN         NaN  ...
6   Q&A Response & Understanding\n[20]  Total Marks [100]         NaN  ...
7                                   14                 60         NaN  ...
8                                   15                 87         NaN  ...
9                                   18                 87         NaN  ...
10                                  13                 69         NaN  ...
11                                  18                 90         NaN  ...
12                                  10                 50         NaN  ...
13                                  13                 65         NaN  ...
14                                  19                 89         NaN  ...
15                                  18                 88         NaN  ...
16                                  15                 80         NaN  ...
17                                 NaN                  0         NaN  ...
18                                  15                 73         NaN  ...
19                                  10                 50         NaN  ...
20                                  16                 75         NaN  ...
21                                  10                 52         NaN  ...
22                                  17                 90         NaN  ...
23                                  10                 53         NaN  ...
24                                  17                 84         NaN  ...
25                                  10                 57         NaN  ...
26                                  10                 52         NaN  ...
27                                   9                 50         NaN  ...
28                                   9                 50         NaN  ...
29                                  18                 90         NaN  ...
30                                  18                 88         NaN  ...
31                                  16                 83         NaN  ...
32                                  12               62.0         NaN  ...
33                                 NaN                0.0         NaN  ...
34                                  12               62.0         NaN  ...
35                                  18               84.0         NaN  ...
36                                  14               67.0         NaN  ...
37                                  18               89.0         NaN  ...
38                                  17               86.0         NaN  ...
39                                  17               87.0         NaN  ...
40                                  10               59.0         NaN  ...
41                                  18               89.0         NaN  ...
42                                  16               83.0         NaN  ...
43                                  18               87.0         NaN  ...
44                                  16               72.0         NaN  ...
45                                  11               60.0         NaN  ...
46                                   9               48.0         NaN  ...
47                                  17               83.0         NaN  ...
48                                  17               87.0         NaN  ...
49                                  17               87.0         NaN  ...
50                                  14               73.0         NaN  ...
51                                  15               73.0         NaN  ...
52                                 NaN                NaN         NaN  ...
53                                 NaN                NaN         NaN  ...
54                                 NaN                NaN         NaN  ...
55                                 NaN                NaN         NaN  ...
56                                 NaN                NaN         NaN  ...
57                                 NaN                NaN         NaN  ...
58          Mrs.Ashwini Santosh Sarate                NaN         NaN  ...
59                                 NaN                NaN         NaN  ...

    Unnamed: 16373  Unnamed: 16374  Unnamed: 16375  Unnamed: 16376  \
0              NaN             NaN             NaN             NaN
1              NaN             NaN             NaN             NaN
2              NaN             NaN             NaN             NaN
3              NaN             NaN             NaN             NaN
4              NaN             NaN             NaN             NaN
5              NaN             NaN             NaN             NaN
6              NaN             NaN             NaN             NaN
7              NaN             NaN             NaN             NaN
8              NaN             NaN             NaN             NaN
9              NaN             NaN             NaN             NaN
10             NaN             NaN             NaN             NaN
11             NaN             NaN             NaN             NaN
12             NaN             NaN             NaN             NaN
13             NaN             NaN             NaN             NaN
14             NaN             NaN             NaN             NaN
15             NaN             NaN             NaN             NaN
16             NaN             NaN             NaN             NaN
17             NaN             NaN             NaN             NaN

C:\Users\Smita\AppData\Local\Temp\ipykernel_13036\632036402.py:1: DtypeWarning: Columns (0,1,3,4,5,8,16382) have mixed types. Specify dtype option on import or set low_memory=False.
  loaded_df = pd.read_csv("excel.csv")

In [33]:
print(loaded_df.head())

  Bharati Vidyapeeth (Deemed to be University), Pune Unnamed: 1 Unnamed: 2  \
0    Centre for Distance and Online Education (CDOE)        NaN        NaN
1   MCA SEM-IV Seminar Presentation/Viva Universi...        NaN        NaN
2                                        SUMMER-2025        NaN        NaN
3                                          Panel - I        NaN        NaN
4  External Examiner & Mobile - Prof.Ashwini Sara...        NaN        NaN

  Unnamed: 3 Unnamed: 4   Unnamed: 5 Unnamed: 6   Unnamed: 7 Unnamed: 8  \
0        NaN        NaN          NaN        NaN          NaN        NaN
1        NaN        NaN          NaN        NaN          NaN        NaN
2        NaN        NaN          NaN        NaN          NaN        NaN
3        NaN        NaN  Date & Time        NaN  18/05/20025    8:30 AM
4        NaN        NaN          NaN        NaN          NaN        NaN

   Unnamed: 9  ...  Unnamed: 16373  Unnamed: 16374  Unnamed: 16375  \
0         NaN  ...             NaN             NaN             NaN
1         NaN  ...             NaN             NaN             NaN
2         NaN  ...             NaN             NaN             NaN
3         NaN  ...             NaN             NaN             NaN
4         NaN  ...             NaN             NaN             NaN

   Unnamed: 16376  Unnamed: 16377  Unnamed: 16378  Unnamed: 16379  \
0             NaN             NaN             NaN             NaN
1             NaN             NaN             NaN             NaN
2             NaN             NaN             NaN             NaN
3             NaN             NaN             NaN             NaN
4             NaN             NaN             NaN             NaN

   Unnamed: 16380  Unnamed: 16381  Unnamed: 16382
0             NaN             NaN             NaN
1             NaN             NaN             NaN
2             NaN             NaN             NaN
3             NaN             NaN             NaN
4             NaN             NaN             NaN

[5 rows x 16383 columns]

In [34]:
print(loaded_df.tail())

   Bharati Vidyapeeth (Deemed to be University), Pune Unnamed: 1 Unnamed: 2  \
55                                                NaN        NaN     Absent
56                                                NaN        NaN       Tota
57                                                NaN        NaN        NaN
58                                                NaN        NaN        NaN
59                                                NaN        NaN        NaN

   Unnamed: 3 Unnamed: 4 Unnamed: 5         Unnamed: 6  \
55        2.0        NaN        NaN                NaN
56       45.0        NaN        NaN                NaN
57        NaN        NaN        NaN  Sign (jpeg image)
58        NaN        NaN        NaN               Name
59        NaN        NaN        NaN  External Examiner

                    Unnamed: 7 Unnamed: 8  Unnamed: 9  ...  Unnamed: 16373  \
55                         NaN        NaN         NaN  ...             NaN
56                         NaN        NaN         NaN  ...             NaN
57                         NaN        NaN         NaN  ...             NaN
58  Mrs.Ashwini Santosh Sarate        NaN         NaN  ...             NaN
59                         NaN        NaN         NaN  ...             NaN

    Unnamed: 16374  Unnamed: 16375  Unnamed: 16376  Unnamed: 16377  \
55             NaN             NaN             NaN             NaN
56             NaN             NaN             NaN             NaN
57             NaN             NaN             NaN             NaN
58             NaN             NaN             NaN             NaN
59             NaN             NaN             NaN             NaN

    Unnamed: 16378  Unnamed: 16379  Unnamed: 16380  Unnamed: 16381  \
55             NaN             NaN             NaN             NaN
56             NaN             NaN             NaN             NaN
57             NaN             NaN             NaN             NaN
58             NaN             NaN             NaN             NaN
59             NaN             NaN             NaN             NaN

    Unnamed: 16382
55             NaN
56             NaN
57             NaN
58             NaN
59             NaN

[5 rows x 16383 columns]